body{
    margin: 0;
    font-family:'Electrolize';
}

a{
    text-decoration: none;
    color: white;
}

.all{
   
    background:white;
    height: 700px;
}

.title{
    width:125px;   
    position: relative;
    left:250px;
    top:-35px;
    background: white;
}
.title h1{
    position: relative;
    left:40px;
    top:20px;
    font-size: 40px;
    text-align: left;
}



    .bar_menu{
 
    list-style: none;
    padding-left: 0;
    padding-top:50px;
    }

        
        .bar_menu li:hover{
            background-color: #d49466;
            border-radius: 20px;
            width: 212px;
        }


    .bar_menu li{
        padding: 50px 19px;
        font-size: 25px;
        text-align: center;
    }



.prontbar{
        background-color: #1e4779; 
        width: 250px;   
        display:flex;
        margin-bottom: -410px; 
        margin-top: -103px;         
    }

select{ 
    
    border: 1px solid #ccc;
    border-bottom: 1px solid #CCC;
    border-radius: 8px;    
}


input::-webkit-input-placeholder {
  
    color: #AAA;        }
   
.search-wrap{
    
    position: relative;    
    left:295px;
    top:-180px;
    width:500px;
    height: 32px;
   
}

select{
    position: relative;
    top:-0.5px;
    width:90px;
    height: 32px;
}

.search-input{
    position: relative;
    border: none;
    border-bottom: 1px solid #CCC;
    top:-1px;
    height: 32px;
    text-align: left;
   width:300px;
}

.search-btn{
   
    position: relative;
    top: 0.5px;
    height: 32px;
    border-radius: 10px;
}

table{border-collapse:collapse;}

caption{
    display: none;
}
.board_list_wrap{
    position: relative;
    top:-170px;
    left:295px;   
    width:1200px;
    max-height: 700px;
   
}

.board_list{
    width: 100%;
    border-top: 2px solid navy;
    background: rgb(241, 241, 241);
   
    
}
.board_list tr{
    border-bottom: 2px solid #ccc;
}
.board_list th,
.board_list td{
    padding:10px;
    text-align: center;
    font-size: 14px;
}
.board_list tbody tr td:nth-child(2){
    text-align:left;
  
}
.board_list tbody tr td:nth-child(2) a{
    color:black;
}
.board_list tbody tr td:nth-child(2):hover{
    text-decoration: underline;}
.board_list_wrap .paging{
   margin-top: 10px; 
   font-size:0;
   text-align: center;
}
.board_list_wrap .paging a {
   
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    padding: 5px 10px;
    
}
.board_list_wrap .paging a.num{
    border: 1px solid navy;
    border-radius: 100px;
    color:black;
    background: rgb(241, 241, 241);
    }


.board_list_wrap .paging a:first-child{
    margin-left: 0;
}


.board_list_wrap .paging a.bt{
    background: #ccc;
    border: 1px solid #ccc;
}

