body{
    margin: 0;
    font-family:'Electrolize';
}

a{
    text-decoration: none;
    color: white;
}

.all{
    margin:0 auto;
    background:white;
    height: 700px;
}

.title{
    width:125px;   
    position: relative;
    left:250px;
    top:-35px;
    background: white;
}
.title h1{
    position: relative;
    left:40px;
    top:20px;
    font-size: 40px;
    text-align: left;
}



    .bar_menu{
 
    list-style: none;
    padding-left: 0;
    padding-top:50px;
    }

        
        .bar_menu li:hover{
            background-color: #d49466;
            border-radius: 20px;
            width: 212px;
        }


    .bar_menu li{
        padding: 50px 19px;
        font-size: 25px;
        text-align: center;
    }



.prontbar{
        background-color: #1e4779; 
        width: 250px;   
        display:flex;
        margin-bottom: -710px; 
        margin-top: -103px;    
}


.board_list_wrap{
    position: relative;
    
    left:295px;   
    width:1200px;
    max-height: 700px;
   
}

.search-input{
    position: relative;
    left:430px;
    top:40px;
    height: 32px;
    text-align: left;
   width:950px;

}


.bar{
    border-top:1px solid #ccc;
    position: relative;
    left:400px;
    top:100px;
    width:1000px;
    height: 60px;
    background:#e3ebf0;
}

.write_title{font-size:25px;
    font-weight: 400;
position: relative;
top:-5px;
left:30px;
}

.bar1{
    width:170px;
    position: relative;
  left:1220px;
  top:50px;
}

.bar2{
    width:170px;
    position: relative;
  left:430px;
  font-size: 10px;
  height: 30px;
  top:40px;
}
.bar3{
    width:170px;
    position: relative;
    left:430px;
    font-size: 10px;
    height: 30px;
    top:40px;
}

td textarea.content{
    position: relative;
    left:430px;
    top:40px;
    width:950px;
    height: 300px;
}

.data{
    position: relative;
    left:430px;
    top:40px;
    width:955px;
    border: 1px solid black;
}
.con{
   

}

button.d-btn{
    position: relative;
    left:830px;
    top:60px;
    background: black;
    color:#fff;
    width:80px;
    height: 40px;
    border:0px;
}

button.d-btn:hover{
    background-color: #d49466;
    
    width: 80px;
}