body{
    margin: 0;
    font-family:'Electrolize';
    height: 100%;
    width: 100%; 
}

a{

    text-decoration: none;
    color: black;
}

.all{ 

   
   
}

.back_color{ /*****곡선 주기 위한 박스*******/
    position: absolute;
    width: 1018px;
    height: 200px;
    background-color: #7193C1;
}

.back_color2{ /***곡선 주기 위한 박스***/
    position: absolute;
    top:-0.42px;
    width: 1018px;
    height: 104%;
    background-color: #7193C1;
}

/***********타이틀부터 테이블까지 묶음***********/

.all_tb{
   background-attachment: local;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #C0D0E6;
    width:76.7%;
    height:104%;
    position:absolute;
    right:1px;
    top:-1px;
    padding-left:82.5px; 
    padding-right:41px;
   
    
}

.Login_menu{
    position: absolute;
    left:1080px;
    top:30px;
    text-align: center;
    height:45px;
    width:90px;
    background-color:#7193C1;
    border:0.1px solid #7193C1;
    border-radius: 10px;
}
.Login_menu a{
    position: relative;
    top:10px;
    color:#fff;
}
.title h1{
    position: relative;
    left:100px;
    width:200px;
    top:0px;
    font-size: 40px;
    text-align: left;
}
.search-wrap{
    
    position: relative;    
    left:90px;
    top:-10px;
    width:500px;
    height: 32px;
   
}

select{ 
    border: 1px solid #ccc;
    border-bottom: 1px solid #CCC;
    border-radius: 8px;
    position: relative;
    top:-0.5px;
    width:90px;
    height: 32px;
}

input::-webkit-input-placeholder {
  
    color: #AAA;        }
   
.search-input{
    position: relative;
    border: none;
    border-bottom: 1px solid #CCC;
    top:-1px;
    height: 32px;
    text-align: left;
   width:300px;
}

.search-btn{
   
    position: relative;
    top: 0.5px;
    height: 32px;
    border-radius: 10px;
}

.board_list_wrap{   
    width:1000px;
    margin-left: 35px;
    height: 65%;
    padding-left: 55px;
    padding-top: 40px;
}

table{border-collapse:collapse;}

.board_list{
    width: 100%;
    border-top: 2px solid #B7D5E2;
    border-bottom: 2px solid #B7D5E2;
    background: #B7D5E2;
    height: 65%;
   
}
.board_list tr{
    border-bottom: 0.1px solid #7193C1;
}
.board_list th,
.board_list td{
    padding:10px;
    text-align: center;
    font-size: 14px;
}
.board_list tbody tr td:nth-child(2){
    text-align:left;
  
}
.board_list tbody tr td:nth-child(2) a{
   
}
.board_list tbody tr td:nth-child(2):hover{
    text-decoration: underline;}
    
.board_list_wrap .paging{
   margin-top: 10px; 
   font-size:0;
   text-align: center;
}
.board_list_wrap .paging a {
   
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    padding: 5px 10px;
    
}
.board_list_wrap .paging a.num{
    border: 1px solid black;
    border-radius: 100px;
    color:black;
    background: #fff;
    }


.board_list_wrap .paging a:first-child{
    margin-left: 0;
}


.board_list_wrap .paging a.bt{
    background: #ccc;
    border: 1px solid #ccc;
}

button.d-btn{
    position: relative;
    left:450px;
    top:10px;
    background: black;
    color:#fff;
    width:80px;
    height: 40px;
    border:0px;
}

button.d-btn:hover{
    background-color: #d49466;
    
    width: 80px;
}

/****************테이블 end************************************/



 /*********Prontbar*******************/

.bar_menu{
    position: absolute;
    list-style: none;
    padding:5px;
    background:#7193C1;
    width: 180px;
    height: 100%;
    }

.bar_menu li.bar_logo{
   
}
.bar_menu li.bar_logo:hover{
    background-color: #7193C1;
    width:140.8px;
   
}

   
        .bar_menu li:hover{
            background-color: #d49466;
            border-radius: 20px;
           
            width:140.8px;
        }
     
    .bar_menu li{
        padding: 50px 19px;
        font-size: 19px;
 
     
        
    }

    .bar_menu .bar_logo a{
        font-size:15.5px;
      
    }
    .bar_logo i{
        color:rgb(120, 120, 238);
        font-size: 17px;
    }
/*************pront end*****************************/

