
@font-face {
    font-family: 'WooridaumB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/WooridaumB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
    font-family:'Electrolize';
    height: 100%;
    width: 100%; 
}

*{
	margin: 0;
	padding: 0;
}

/*body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}*/

.imgList1 {
    position:absolute;
    margin-top:2%;
    left:8%;
	width: 81%;
    height: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.imgList1 :nth-child(4){
    position: absolute;
    margin-top:45%;
    margin-left:2%;
    justify-content: space-around;
	align-items: center;
}

.imgList1 :nth-child(5){
    position: absolute;
    right:50%;
    margin-top:45%;
    margin-left:35%;
    justify-content: space-around;
	align-items: center;
}
.imgList1 :nth-child(6){
    position: absolute;
    right:50%;
    margin-top:45%;
    margin-left:68.7%;
    justify-content: space-around;
	align-items: center;
}


.imgC p {
	text-align: center;
    font-family:'WooridaumB';
}
.imgC{
    height:50%;
    width:20%;
    left:5%;
    }
.imgC img{
    height: 100%;
    width: 100%;
    transition: all .5s ease-in-out;
}
.imgC img:hover 
{
    transform: scale(1.5);
    transition: 0.5s;

}

.modal {
	display: none;
	z-index: 500;
	width: 100%;
	height: 100vh;
	position: fixed;
    font-family: 'WooridaumB';
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8)
}

.modal button {
	position: absolute;
	top: 3rem;
	right: 3rem;
	background: transparent;
	border: 0;
	color: #ffffff;
	font-size: 3rem;
}

.modalBox {
	position: relative;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	background-color:transparent;
	width: 30%;
	height: 30%;
	text-align: center;
}

.modal_content{
    box-sizing: content-box;
    border: 0px solid;
    width: 600px;
    height: 30px;
    word-break:break-all;
    border: solid #000 0px;
    text-align:left;
}

span.info{
    font-size:20px;
    font-family: 'IBMPlexSansKR-ExtraLight';
    color:#fff;
}


.modalBox img {
	width: 100%;
}

.modalBox pre {
	color: #ffffff;
	background-color: transparent;
	font-size: 1.5rem;
    font-family: 'IBMPlexSansKR-ExtraLight';
	padding: .2rem;
    padding-left:20px;
    padding-bottom:20px;
    text-align: center;
    

}

.modal_admin{
    position:absolute; width:100%; height:100%;
    background: rgba(52, 52, 52, 0.3); top:0; left:0; 
    display: none;
}

.modalBox_admin{
    width:400px; height:400px;
    background-color:#fff; border-radius:10px;
    position:relative; top:50%; left:50%;
    margin-top:-100px; margin-left:-220px;
    text-align:center;
    box-sizing:border-box;
    line-height:23px; cursor:pointer;
  }
  .modal_admin button.x {
	position: absolute;
	top: 3rem;
	right: 3rem;
	background: transparent;
	border: 0;
	color: #ffffff;
	font-size: 3rem;
}


.modal_input_area{
    float:left;
    box-sizing: border-box;
    position: relative;
    padding-top:20px;
    width:400px;
}
.modal_input_area input{
    width:250px;
    height:100%;
    border-radius: 10px;
}

.modal_input_area label{
    width:100px;
    float: left;
    font-family: 'IBMPlexSansKR-ExtraLight';

}

.modal_input_upload{
    float:left;
    box-sizing: border-box;
    width:300px;
    padding-top:30px;
    padding-left:10px;
    text-align: left;
}

.modal_admin_input select{
    float:left;
    width:80px;
    margin-top:27px;
    margin-left:10px;
}


a{
    text-decoration: none;
    color: black;
}

.all{ 
    margin-top:-10px;
   
}

.back_color{ /*****곡선 주기 위한 박스*******/
    position: absolute;
    width: 1018px;
    height: 200px;
    background-color: #7193C1;
}

.back_color2{ /***곡선 주기 위한 박스***/
    position: absolute;
    top:-0.42px;
    width: 1018px;
    height: 100%;
    background-color: #7193C1;
}

/***********타이틀부터 테이블까지 묶음***********/

.all_tb{
   background-attachment: local;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #C0D0E6;
    width:76.7%;
    height:100%;
    position:fixed;
    right:1px;
    top:-1px;
    padding-left:82.5px; 
    padding-right:41px;
   
    
}

.Login_menu{
    position: absolute;
    left:1080px;
    top:30px;
    text-align: center;
    height:45px;
    width:90px;
    background-color:#7193C1;
    border:0.1px solid #7193C1;
    border-radius: 10px;
}
.Login_menu a{
    position: relative;
    top:10px;
    color:#fff;
}
.title h1{
    position: relative;
    left:100px;
    width:200px;
    top:0px;
    font-size: 40px;
    text-align: left;
}
.search-wrap{
    
    position: relative;    
    left:90px;
    top:10px;
    width:500px;
    height: 32px;
   
}

select{ 
    border: 1px solid #ccc;
    border-bottom: 1px solid #CCC;
    border-radius: 8px;
    position: relative;
    top:-0.5px;
    width:90px;
    height: 32px;
}

input::-webkit-input-placeholder {
  
    color: #AAA;        }
   
.search-input{
    position: relative;
    border: none;
    border-bottom: 1px solid #CCC;
    top:-1px;
    height: 32px;
    text-align: left;
   width:300px;
}

.search-btn{
    background-color:transparent;
    list-style: none;
    position: relative;
    top: 0.5px;
    width: 35px;
    height: 32px;
    border-radius: 7px;
    border: 0.5px solid black;
    font-family: 'WooridaumB';
    font-weight: bold;
}

.board_list_wrap{   
    width:1000px;
    margin-left: 35px;
    height: 15%;
    padding-left: 55px;
    padding-top: 40px;
    font-family: 'WooridaumB';

}
.board_list_wrap_Free{   
    width:1000px;
    margin-left: 35px;
    height: 15%;
    padding-left: 55px;
    padding-top: 40px;
    font-family: 'WooridaumB';

}

table{border-collapse:collapse;}

.board_list{
    width: 100%;
    border-top: 2px solid #B7D5E2;
    border-bottom: 2px solid #B7D5E2;
    background: #fffafa;
    border-radius: 20px;
    height: 65%;
   
}
.board_list tr{
    border-bottom: 0.1px solid #7193C1;
}
.board_list th,
.board_list td{
    padding:10px;
    text-align: center;
    font-size: 14px;
}
.board_list tbody tr td:nth-child(2){
    text-align:left;
    
}
.board_list tbody tr td:nth-child(2) a{
   
}
.board_list tbody tr td:nth-child(1):hover{
    text-decoration:underline;
    
}


.board_list tbody tr td:nth-child(2):hover{
    text-decoration: underline;}
    
.board_list_wrap .paging{
   display: flex;
   flex-flow:row nowrap;
   justify-content:center;
   position: absolute;
   box-sizing: border-box;
   width:300px;
   top:92%;
   left:37%; 
   font-size:0;
}
.board_list_wrap .paging a {
    text-align: center;
    font-size: 14px;
    padding: 3px 10px;
    font-family: 'GangwonEduPowerExtraBoldA';

}
.board_list_wrap .paging a.num{
    border-radius: 100px;
    color:black;
    font-weight: bold;

    }

.board_list_wrap .paging a.num:first-child{

}
.board_list_wrap .paging a.num:nth-child(2){
}

.board_list_wrap .paging a.bt:first-child{
    margin-left:20px;
}


.board_list_wrap .paging a.bt{
	background-color:transparent;
    border: 1px solid transparent;
}

button.d-btn{
    position: absolute;
    left:45.5%;
    top:84%;
    background: black;
    color:#fff;
    width:80px;
    height: 40px;
    border:0px;
    border-radius: 10px;
    font-family: 'IBMPlexSansKR-ExtraLight';
    font-weight: bold;

}
button.d-btn:hover{
    background-color: #d49466;
    width: 80px;
    border-radius: 10px;
}

button.f-btn{
    z-index: 1;
    position: absolute;
    left:45.5%;
    top:84%;
    background: black;
    color:#fff;
    width:80px;
    height: 40px;
    border:0px;
    border-radius: 10px;
    font-family: 'IBMPlexSansKR-ExtraLight';
    font-weight: bold;

}




/****************테이블 end************************************/



 /*********Prontbar*******************/

.bar_menu{
    position: fixed;
    list-style: none;
    padding:5px;
    background:#7193C1;
    width: 180px;
    height: 100%;

    }

.bar_menu li.bar_logo{
   width: 260px;
}
.bar_menu li.bar_logo:hover{
    background-color: #7193C1;
    width:260px;
   
}

   
        .bar_menu li:hover{
            background-color: #d49466;
            border-radius: 20px;           
            width:140.8px;
        }
     
    .bar_menu li{
        display: block;
        padding-top:50px;
        padding-bottom: 50px;
        padding-right: 40px;
        font-size:15px;
        text-align: left;
    }

    .bar_menu li a{
        padding:45px;
    }


    .bar_logo a{
        margin-left:-15px;
        font-size:20.5px;
      
    }
    .bar_logo i{
        margin-left:-5px;
        color:rgb(120, 120, 238);
        font-size: 25px;
        width: 17px;
        height: 20px;
    }
/*************pront end*****************************/

