
body{
    margin: 0;
    font-family:'Electrolize';
}

a{
    text-decoration: none;
    color: white;

}

.content1{
    font-size: 18px;
}


.prontbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e4779;
    padding: 10px 12px;
}

.bar_logo{
    font-size: 24px;
    color:white;
}

.bar_logo i{
    color:rgb(120, 120, 238);
}

.bar_menu{
display:flex;
list-style: none;
padding-left: 0;
}
.bar_menu li{
    padding: 10px 19px;
}

.bar_menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}

.Login_menu{
    list-style: none;
    Color:white;
    display:flex;
    padding-left:0;
}

.Login_menu :hover{
    background-color: #d49466;
    border-radius:4px;
}


.bar_icons{
    list-style: none;
    color:white;
    display: flex;
    padding-left: 0;
}
.bar_icons li{
    padding: 8px 12px;
}

.bar_toogle{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: white;
}

.intro_bg{
background-image:url("banner_img2.png");
width:100%;
height:620px;
}

.intro_text >h1{
    color:#fff;
}

.intro_text{
    width:100%;
    margin:231px auto 231px auto;
    text-align:center;
}

.screen_main{
    width:100%;
    height:6001px;
    background: #f1f2f3;

}
.CCTV_analysis{
    position:relative;
    top:+55px;
    padding-top:40px;
    text-align:center;
    color:#fff;
    margin:auto;
    font-size: 25px;
    height: 70px;
    width: 190px;
    background: #1e4779;
    border-radius:20px;
}

.cctv_main :hover{
    background-color: #d49466;
    border-radius:20px;
}

.cctv_bg{
    position: absolute;
    display:flex;
    top:800px;
    width:100%;
    height:480px;
    background: white;
    }

.cctv_bg >.content1 {
    padding: 20px;
    padding-top:25px;
    font-size: 25px;
}

img{
    width:628px;
    height:412px;
    object-fit: cover;
    padding-left: 100px;
    padding-top: 20px;
}

.Car_Model{
    position:relative;
    top:+620px;
    padding-top:40px;
    text-align:center;
    color:#fff;
    margin:auto;
    font-size: 25px;
    height: 70px;
    width: 190px;
    background: #1e4779;
    border-radius:20px;
}

.Car_Model :hover{
    background-color: #d49466;
    border-radius:20px;
}

.Car_bg{
    position: absolute;
    display:flex;
    top:1500px;
    width:100%;
    height:480px;
    background: white;
    }



 .Car_bg>.content2 {
        padding: 20px;
        padding-top:25px;
        font-size: 25px;
    }
    
.Streaming_bg{
    position: absolute;
    display:flex;
    top:2200px;
    width:100%;
    height:480px;
    background: white;
}

    .Streaming_bg>.content3 {
        padding: 20px;
        padding-top:25px;
        font-size: 25px;
    }

    .Streaming{
        position:relative;
        top:+1220px;
        padding-top:40px;
        text-align:center;
        color:#fff;
        margin:auto;
        font-size: 25px;
        height: 70px;
        width: 190px;
        background: #1e4779;
        border-radius:20px; }
    

@media screen and (max-width: 768px){
    .prontbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .bar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .bar_menu li{
        width:100%;
        text-align: center;
    }

    .Login_menu{
    
        justify-content: center;
        width:100%;

    }
    .bar_icons{
        display: none;
        justify-content: center;
        width:100%;
    }

    .bar_toogle{
        display: block;
    }

    .bar_menu.active,
    .bar_icons.active{
        display:flex;
    }

}