<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="hansung.cap.mapper.listMapper">

    <insert id="insertList">
        insert into list(carNum,carKind,carColor,carMaster,inTime,outTime) values
                          (#{carNum},#{carKind},#{carColor},#{carMaster},#{inTime},#{outTime})
    </insert>
    
      <select id="queryAll" resultType="hansung.cap.project.listVO">
    	select * from list
    </select>
    
	<select id="searchName" resultType="hansung.cap.project.listVO">
		select * from list where carNum like #{msg} or carKind like #{msg} or carColor like #{msg} or carMaster like #{msg}
	</select>
</mapper>

