<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="hansung.cap.mapper.QnAMapper">
  
  	<insert id="insertQnA">
  		insert into qna(seq,title,content,userId,time) values (#{seq}, #{title},#{content},#{userId},#{time})
  	</insert>
  	
  	<select id="queryAll" resultType="hansung.cap.project.QnAVO">
  		select * from qna
  	</select>
  	
  	<select id="search" resultType="hansung.cap.project.QnAVO">
  		select * from qna where title like #{s} or content like #{s} or userid like #{s} 
  	</select>
  	
  	<select id="read" resultType="hansung.cap.project.QnAVO">
  		select * from qna where seq like #{s}
  	</select>
  	<delete id="delete">
  		delete from qna where seq like #{s}
  	</delete>
  </mapper>