<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="hansung.cap.mapper.CarKindMapper">
  
  	<select id="queryCAR" resultType="hansung.cap.project.CarKindVO">
  		select * from carKind where carKind like #{msg}
  	</select>
  
  </mapper>