<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="hansung.cap.mapper.CommentMapper">
	<insert id="insertComment">
		insert into comment(userId,text,QnANum) values(#{userId},#{text},#{QnANum})
	</insert>
	
	<select id="CommentAll"  resultType="hansung.cap.project.CommentVO">
		select * from comment where QnANum like #{i}
	</select>
</mapper>