<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="hansung.cap.mapper.FreeBoardMapper">
    <select id="queryAll" resultType="hansung.cap.project.FreeBoardVO">
  		select * from freeboard
  	</select>
  	
  	<insert id = "insertFreeBoard">
  		insert into freeboard(title,content,userId,time) values (#{title},#{content},#{userId},#{time})
  	</insert>
  	
  	<select id="searchAll" resultType="hansung.cap.project.FreeBoardVO">
  		select * from freeboard where title like #{s} or userid like #{s} 
  	</select>
  	
  	<select id="searchTitle" resultType="hansung.cap.project.FreeBoardVO">
  		select * from freeboard where title like #{s} 
  	</select>
  	
  	<select id="searchUser" resultType="hansung.cap.project.FreeBoardVO">
  		select * from freeboard where userid like #{s} 
  	</select>
  	
  	<select id="read" resultType="hansung.cap.project.FreeBoardVO">
  		select * from freeboard where seq like #{a} 
  	</select>
  	
  	<select id = "delete">
  		delete from freeboard where seq like #{a}
  	</select>
  	
  	<update id = "modify">
  		update freeboard set title=#{title}, content=#{content}, userId=#{userId}, time = #{time} where seq like #{seq} 
  	</update>
  	
  	<select id="paging" resultType="hansung.cap.project.FreeBoardVO">
    	<![CDATA[
		select * from freeboard order by time desc limit #{paging},10;]]>
    </select>
  	
  	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM freeboard
	</select>
	
	<select id="ScountBoard1" resultType="int">
		SELECT COUNT(*) FROM freeboard where title like #{msg}
	</select>
	<select id="ScountBoard2" resultType="int">
		SELECT COUNT(*) FROM freeboard where userId like #{msg}
	</select>
	<select id="ScountBoard3" resultType="int">
		SELECT COUNT(*) FROM freeboard where title like #{msg} or userId like #{msg}
	</select>
  </mapper>
  