<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="hansung.cap.mapper.listMapper">

    <insert id="insertList">
        insert into list(model,carColor,Time) values
                          (#{model},#{carColor},#{Time})
    </insert>
    
      <select id="queryAll" resultType="hansung.cap.project.listVO">
    	select * from list
    </select>
    
    <select id = "queryModel" resultType="hansung.cap.project.listVO">
   		select * from list where model like #{model}
    </select>
    
    <select id = "queryTime" resultType="hansung.cap.project.listVO">
    	select * from list where time like #{time}
    </select>
    
    <select id="paging" resultType="hansung.cap.project.listVO">
    	<![CDATA[select * from list where seq <=#{paging} order by seq desc limit 10;]]>
    </select>
    
	<select id="searchName" resultType="hansung.cap.project.listVO">
		select * from list where model like #{msg} or carColor like #{msg} or time like #{msg}
	</select>
	
	<!-- 총 게시글 갯수 출력 -->
	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM list
	</select>
	
	<select id="ScountBoard1" resultType="int">
  		SELECT COUNT(*) FROM list where model like #{msg}
  	</select>
  	
  	<select id="ScountBoard2" resultType="int">
  		SELECT COUNT(*) FROM list where time like #{msg}
  	</select>
  	
  	
  	<resultMap type="java.util.Map" id="imgMap">
	<result property="base64" column="image" javaType="[B" jdbcType="BLOB"/>
	</resultMap>
	<select id="selectImg" resultMap="imgMap">
		SELECT image FROM list where seq like #{a}
	</select> 

	
</mapper>

